name: Release

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      manual_release:
        description: "Manually trigger doc build and release."
        required: false
        default: false

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest

    permissions: write-all

    steps:
      - name: Check out the repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - name: Fork
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          gh repo fork --clone Kapeli/Dash-User-Contributions

      - name: Branch
        working-directory: ./Dash-User-Contributions
        run: |
          git switch --create=${{ github.run_id }}-${{ github.run_attempt }}

      - name: Make a change
        working-directory: ./Dash-User-Contributions
        run: |
          echo 'change\n' > file.txt

      - name: Setup git
        uses: oleksiyrudenko/gha-git-credentials@v2.1
        with:
          token: ${{ secrets.GH_TOKEN }}
          global: true
          name: Tester testy
          email: tester@testit.com
          actor: paw-lu

      - name: Commit
        working-directory: ./Dash-User-Contributions
        run: |
          git add --all
          git commit --message="Change!"

      - name: Push
        working-directory: ./Dash-User-Contributions
        run: |
          git push --set-upstream origin ${{ github.run_id }}-${{ github.run_attempt }}
